aside.sidebarmenu {
  max-width: $marginWidth;
  width: 100%;
  transition: 0.4s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 0px 8px rgb(0 0 0 / 5%);
  z-index: 9;
  background-color: #fff;
  .sidebar {
    padding: .8em;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nav {
      a.active {
        background-color: $primary300;
        svg,span{
          color: #fff;
        }
      }
    }
    .menuwrapper{
      height: calc(100dvh - 200px);
      overflow-y: auto;
    }
  }

  .logobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 0 20px;
    background-color: transparent;

    img {
      height: 30px;
    }

    input {
      &:focus {
        background-color: rgb(0 0 0 / 2%);
        box-shadow: none;
        outline: none;
        border-color: $primary300;
      }

      &::placeholder {
        color: #5d5d5d;
      }
    }
  }

  &.hide {
    left: -100%;
  }
}
